body{ 
    background-color: rgb(0, 0, 0);
    color: white;
    text-size-adjust: 200px;
}

p1 img{
    position: absolute;
    top: 440px;
    left: 110px;
    width: 250px;
    height: 373px;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}
p1 img:hover {
    transform: scale(1.1);
}

p2 img{
    position: absolute;
    top: 440px;
    left: 400px;
    width: 250px;
    height: 373px;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}
p2 img:hover {
    transform: scale(1.1); 
}

p3 img{
    position: absolute;
    top: 440px;
    left: 690px;
    width: 250px;
    height: 373px;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}
p3 img:hover {
    transform: scale(1.1);
}

p4 img{
    position: absolute;
    top: 440px;
    left: 980px;
    width: 250px;
    height: 373px;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}
p4 img:hover {
    transform: scale(1.1);
}

p5 img{
    position: absolute;
    top: 440px;
    left: 1270px;
    width: 250px;
    height: 373px;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}
p5 img:hover {
    transform: scale(1.1);
}

p6 img{
    position: absolute;
    top: 440px;
    left: 1560px;
    width: 250px;
    height: 373px;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}
p6 img:hover {
    transform: scale(1.1);
}

p20{
    position: absolute;
    top: 150px;
    left: 1100px;
    font-family: 'Arial Black', sans-serif;
    font-size: 15px;
    color: white;
}